html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}
*, *::before, ::after {
    box-sizing: inherit;
}
.container{
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.navbar {
    display: flex;
    background-color:black;
    /* justify-content: space-between; */
  
    width:100vw;
}

.navbar a:hover {
    background-color:grey 
 }

.nav-menu{
   display: flex;
   transition:all, 0.6s;
   justify-content: space-between;
   align-items: center;
   height: 55px;
   width: 100%;
}

div, a{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    /* flex: 1; */
    /* line-height: 0px; */
    padding: 0px;
    /* min-width: 55px; */
}

.nav-link{
    padding: 20px 10px;
   
}

div a i{
    padding-left:5px;
    
}
.right-icon{
    color:grey;
}

.jeep-slide-one{
    width: 100%; 
    position: relative;
    height: 70vh;
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
} 


.logo{
       height:25px;
       justify-self: flex-start;
       
       /* display: block; */
    }
.logo-small{
   width: 170px;
   height: 90px;
   display: inline-block;
   background-attachment: fixed;
  position: absolute;
}

.Motortrend-top-text{
line-height: 23px;
text-align: center;
font-size: 14px;
font-family: Roboto;
text-transform: none;
margin: 0px auto;
padding: 7px 20px 0px 20px;
font-weight: initial;

}
.pricese{
    text-align: center;
    font-size:11px;
    font-weight: initial;
    padding-top: 10px;
    text-transform: none;
}
.jeep-slide-one{
    background-image: url("jeep-slide-mobile.jpg");
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    height: 86vh;
    background-size: cover;
    background-position: bottom center;
    padding-top: 25px;
} 

.button{
    background-color: rgb(255,186,0);
    padding: 12px 20px;
    color: black;
    text-align: center;
    text-decoration: none;

    border-radius: .14rem;
    cursor: pointer;
    display: inline-block;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: inherit;
    position: relative;
    text-transform: uppercase;
    transition-duration: 250ms;
    margin-top: 10px;
}

.button::after{
 font-family: 'Font Awesome 5 Free';
 content: ' \f054';
 margin-left: 6px;
 font-size: 12px;

}

/* Done FIRST CONT  */
.second-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    padding: 20px 0px;
}
.title{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
   min-width: 100vw;
}
.Jeeps-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width:100%;
}
.flex-item{
    flex:1;
    text-align:center;
}
.flex-item .sub-header{
    color:black;
    font-weight:bold;
    text-transform:uppercase;
    font-size: 15px;
  
}
.flex-item .small-text{
    color:grey;
    font-weight:lighter;
    font-size:8px;
    padding-top:8px;
}
.flex-item .price{
    color:black;
    font-weight:bold;
    font-size:15px;
}
 .sub-header-new{
    color:black;
    font-weight:bold;
    text-transform:uppercase;
    font-size: 16px;
   /*  */
   }
.third-container{
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    /* width: 100%; */
}
.flex-item3{
       display: flex;
       flex-direction: column;
       background-color: black;
       margin-bottom: 25px;
   }
.big-jeep{
       width: 100%;
       /* height: 100vh; */
      /* margin: 10px 20px 10px 20px; */
     object-position: center;
     margin-bottom: 10px;
   }
.inf0-jeep{
    text-align: left;
    padding-left: 20px;
}
.grey-info{
    /* display: flex; */
    width: 100%;
    background-color: #212121;
    text-align: right;
    padding: 5px 0px;
    margin-top: 40px; 
   }
   .grey-info::after{
    font-family: 'Font Awesome 5 Free';
    content: ' \f054';
    margin-left: 6px;
    font-size: 12px;
    color: #ffba00;

   }
   .fourth-container{
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 60px;
   }
   .inf0-jeep1{
    text-align: left;
    color: black;
   }
   .fifth-container{
       background-color: #d1d1d1;
       /* display: flex; */
       /* width: 100%; */
       padding: 45px 30px;
       justify-content: center;
       text-align: center;
   }
h1{
    color: black;
    font-size: 30px;
    font-family: 'Roboto', sans-serif; 
       
}
.info-blue-book{
    font-weight: normal;
}
     
.button3{
background-color: rgb(255,186,0);
padding: 12px 63px;
color: black;
text-align: center;
text-decoration: none;
white-space:nowrap;
border-radius: .14rem;
cursor: pointer;
display: inline-block;
font-family: "Proxima Nova";
font-size: 15px;
font-weight: inherit;
position: relative;

text-transform: uppercase;
transition-duration: 250ms;
margin-top: 10px;
}

.button3::after{
    font-family: 'Font Awesome 5 Free';
    content: ' \f054';
    margin-left: 6px;
    font-size: 12px;
    color:black;
    position: absolute;
    right: 1.7em;
}
/* seven */

  .six-container{
      background-color: #212121;
      padding: 20px;
      width: 100%;
  }
.info-about-us{
    
    display: flex;
    flex-wrap:wrap;
    align-items:center;
}
.about-us{
    min-width: 50%;
    margin: 10px 0px;
    color:grey;
   
}

#globe{
    margin-right:10px;
    }
 
   #globe::before {
        content: "\f57d";
        margin-left: 46px;
    } 
    /* search */
    .search-info{
        display: flex;
        width: 87%;
        max-width: 450px;
        background-color: snow;
        align-items:center;
        border-radius: 3px;
        margin:40px 0px;
        padding-left: 7px;
        
    }

.search-button{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
    background-color: #ffba00;
    color: black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width:76px;
    margin-left: auto;
    padding: 12px;
    
}
.fa-search::before {
    content: "\f002";
    font-size: 20px;
    color:black;
}










    
/* Mobile View */

/*@media only screen and (max-width:426px)*/
@media(min-width:0px) and (max-width:426px) {
    .logo-cont{
        flex:2;
        padding-left: 15px;
    }
    

    .navlink-hide{
        display:none;
    }
    .hidelink-mobile-tablet{
        display:none;
    }

    .jeep-slide-one{
        background-image: url("jeep-slide-mobile.jpg");
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        height: 86vh;
        background-size: cover;
        background-position: bottom center;
        padding-top: 25px;
    } 
   

}
/* End Mobile View */

/* Tablet View */
@media only screen and (min-width: 427px) and (max-width:768px) {
    .nav-link{
        padding: 20px 10px;
    }
    div a i{
        padding-left:5px;
    }
    
    .logo-cont{
        flex:2;
        padding-left: 15px;
    }
    
    .navlink-hide{
        display:block;
    }
    .hidelink-mobile-tablet{
        display:none;
    }

    .jeep-slide-one{
        background-image: url("jeep-slide-mobile-two.jpg");
        width: 100%;
        position: absolute;
        top: 54px;
        height: 47.5vh;
        background-size: contain
    } 

}

/* End Tablet View */


/* Lg Tablet */
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .logo-cont{
        flex:1;
        padding-left: 15px;
    }
   

    .jeep-slide-one{
        background-image: url("jeep-slide-mobile-two.jpg");
        width: 100%;
        position: absolute;
        top: 54px;
        height: 47.5vh;
        background-size: contain
    } 

}

/* End Lg Tablet */

/* Desktop View */

/* @media only screen and (min-width: 1024px) {
    .logo-cont{
        padding-left: 15px;
    }

    .logo{
        height:30px;
        justify-self: flex-start;
    }

    .hidelink-desktop{
        display:none;
    }

    .right-nav{
        display:flex;
        justify-content:flex-end;
        margin-left:80px;
        flex:4;
    }

    .right-nav div{
        flex:none;
        padding-right:30px;
    }

    .nav-menu a{
        flex:none;
        font-size:10px;
    }

    .nav-menu{
        width:100%;
        display:flex;
        justify-content:space-between;

    }

    .mobile-slide-two {
        display: none;
    }

    .mobile-slide {
        display: none;
    }
} */

/* End Desktop View */